* {
    margin: 0%;
    padding: 0%;
}



h2,
.game-canvas {
    text-align: center;
    position: relative;
}
h2{
    margin-top: 15px;
    font-size: 30px;
}

#canvas{
    margin-top: 150px;
}

.game {
    width: 100%;
    background-color: #22A39F;
    height: 100vh;
}



span {
    color: brown;
}